<section class="commentshow-container reply">
  <section class="comment-left">
    <img src="<%= comment.get('user_avatar') %>"></img>
    <article class="comment-author">
      <%= comment.escape('author') %>
    </article>
    <br>
    <article class="comment-body">
      <%= comment.escape('body') %>
    </article>
  </section>

  <section class="comment-right">
    <article class="comment-timeago">
      <%= $.timeago(comment.get('created_at')) %>
    </article>
    <br>
    <div class='buttons'>
      <% if (user.id === comment.get('user_id')) { %>
        <button data-id="<%= comment.id %>"  class="btn btn-default btn-xs delete">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      <% } %>
      <button class="btn btn-default btn-xs reply">
        Reply
      </button>
    </div>

  </section>
</section>
