<div class="container-fluid">
  <div class="row">


    <div class="col-md-3 control-container">

      <div class='control'>
        <span class="glyphicon glyphicon-step-backward"></span>
      </div>

      <div class='control'>
        <% if (player.playing) { %>
          <span id="play-btn" class="glyphicon glyphicon-pause"></span>
        <% } else { %>
          <span id="play-btn" class="glyphicon glyphicon-play"></span>
        <% } %>
      </div>

      <div class='control'>
        <span class="glyphicon glyphicon-step-forward"></span>
      </div>
    </div>

    <div class="col-md-7 title">
        <%= demo.escape('title') %>
    </div>


    <div class="col-md-2 volume">
      <div id="vol-popup">
        <a href="javascript:void(0)" id="volume-btn">
          <span class="glyphicon glyphicon-volume-up"></span>
        </a>
        <div id="slider-vertical"></div>
      </div>
    </div>

  </div>
</div>

<div class="progress" >

  <div id="player-progress" class="progress-bar" role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100">
  </div>
</div>

  <div id="player-track-box">
    <div id="track-artwork"
        style="background-image: url(<%= demo.get('thumb_url') %>)">
    </div>
    <div id="track-data">
      <div id="track-artist">
          <a href="javascript:void(0);">
            <%= demo.escape('artist_name') %>
          </a>
      </div>
      <div id="track-title">
        <a href="#demo/<%= demo.id %>">
          "<%= demo.escape('title') %>"
        </a>
      </div>
    </div>
  </div>
