<div class="playlist-modal-playlist"
  data-demo-id="<%= demo.id %>" data-id="<%= playlist.id %>">
  <span data-demo-id="<%= demo.id %>" data-id="<%= playlist.id %>" class="title">
    <%= playlist.escape('title') %> (<%= playlist.links().length %>)
  </span>
  <span data-demo-id="<%= demo.id %>" data-id="<%= playlist.id %>" class="glyphicon glyphicon-plus"></span>
</div>
