<table>
  <tr>
    <td class="artwork" rowspan="4">
      <img style="float: left; display: inline-block;"
          src="<%= demo.escape('thumb_url') %>">
    </td>
    <td rowspan=2 class="play-btn">
      <button class="btn btn-primary btn-sm play">
        <span id="play<%= demo.get('id')%>" class="glyphicon glyphicon-play"></span>
      </button>
    </td>
    <td>
      <span class="artist_text"><%= demo.get('artist_name') %></span>
      <span class="t-ago"><%= $.timeago(demo.get('updated_at')) %></span>
      <br>
      <b>
        <span class="title_text"><%= demo.get('title') %></span>
      </b>
    </td>

  </tr>
  <tr>
    <td>(Waveform View)</td>
  </tr>
</table>
