<table>
  <tr>
    <td class="artwork" rowspan="2">
      <img id="loader" src="assets/demo_default.png">
      <img id="trackArt" style="float: left; display: none;"
          src="<%= demo.escape('thumb_url') %>">
    </td>
    <td class="play-btn">
      <button class="btn btn-primary btn-sm play">
        <span id="play<%= demo.get('id')%>" class="glyphicon"></span>
      </button>
    </td>
    <td>
      <span class="artist_text"><%= demo.get('artist_name') %></span>
      <span class="t-ago"><%= $.timeago(demo.get('updated_at')) %></span>
      <br>
      <span class="idx-genre"><%= demo.get('genre') %></span>
      <b>
        <a class="title_text" href="#/demo/<%= demo.id %>">
          <%= demo.get('title') %>
        </a>
      </b>
    </td>

  </tr>
  <tr>
    <td colspan="2" data-id="<%= demo.id %>" class="waveform">
      <% if (CURRENT_USER !== 0) { %>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group-xs" role="group" aria-label="...">

          <button type="button" class="btn btn-default fol-btn fol-btn<%= demo.get('artist_id') %>">
            <% if (following) { %>
              <span class="glyphicon glyphicon-star"></span>Following
              <% } else { %>
                <span class="glyphicon glyphicon-star-empty"></span>Follow Artist
                <% } %>
              </button>
              <button id="playlist-btn" data-toggle="modal" data-target="#playlistModal" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span> Add to playlist
              </button>
              <button type="button" class="btn btn-default comment-btn">
                <span class="glyphicon glyphicon-comment"></span>Comment
              </button>
            </div>
          </div>
      <% }; %>
      <article id="timeShow<%= demo.id %>" class="timeshow"></article>
    </td>
  </tr>
  <tr class="comment-row">
    <td colspan="3">
      <div class="comment-container">
        <div class="input-group input-group-sm">
          <label class="sr-only" for="comment-field">Comment Field</label>
          <div class="input-group-addon"
          style="background-image: url('<%= user.escape('avatar_url') %>')"></div>
          <form class="item-comment">
            <input type="text" name="body" class="form-control" id="comment-field"
            placeholder="Write a comment ...">
            <button type="submit" style="display: none;">
            </form>
          </div>
        </div>

      </td>
    </tr>

</table>
