<!DOCTYPE html>
<html>
<head>
  <title>Demogogue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header"%>
  <%= yield %>
  <%= render "layouts/playlist_modal"%>

  <script>
    KEY = "<%= ENV['aws_key'] %>";
    SEC = "<%= ENV['aws_secret'] %>";
    CURRENT_USER = <%= current_user ? current_user.id : 0 %>;
  </script>
</body>
</html>
